/* *{
  background: rgb(88, 197, 197);
}
.clases{
  color: bisque;
}
.centrar{
  text-align: center;
}
.titulo{
  font-size: 100px;
  color: red;
}
.textos{
  font-size: 40px;
} */

h1, h2, p {
  color: red;
}